@model DB_EFCore.Entity.Article
@using Constants.Enums;
@{
    ViewData["Title"] = "Makale";
}

<link href="~/lib/highlight/atom-one-dark.min.css" rel="stylesheet" />
<script src="~/lib/highlight/highlight.min.js"></script>
<link href="~/lib/highlight/vs2015.css" rel="stylesheet" />

<link href="~/lib/quill/quill.snow.css" rel="stylesheet" />
<script src="~/lib/quill/quill.js"></script>



<article class="blog-post px-3 py-5 p-md-5">
    <div class="container">
        <header class="blog-post-header">
            <h2 class="title mb-2">@Model.Title</h2>
            <div class="meta mb-3">
                <span class="date">@Model.PublishDate.ToShortDateString() tarihinde yayınlandı</span>
                <span class="time">@Model.ReadMinute dakikalık okuma</span>
                <span class="comment">
                    <a href="#">@Model.ArticleComments.Count yorum</a>
                </span>
            </div>
        </header>

        <div class="blog-post-body">
            <div>
                <div id="quillToolbar" style="display:none !important;"></div>

                <div id="editor" style="border:none !important;" readOnly="true">
                </div>
            </div>
        </div>

        <div class="commentContainer" style="margin-top:50px;">
            <form id="commentForm">
                @Html.Hidden("ArticleId", Model.Id)
                <h4 class="">Yorumlar</h4>
                @{
                    foreach (var item in Model.ArticleComments)
                    {
                        <div class="commentItem" style="margin-top:20px !important;padding: 10px;border:1px solid #ccc">
                            <div class="meta mb-3" style="margin-bottom:10px !important;color:#615c5c;cursor:pointer;">
                                <span class="date">@item.FullName</span>
                                <span class="time">@item.RegisterDate</span>
                            </div>
                            <div class="blog-post-body">
                                <div>
                                    @item.Content
                                </div>
                            </div>
                        </div>
                    }
                }

                <div class="commentText" style="margin-top: 20px;border-top: 2px solid #ccc;padding-top: 20px;">
                    <div style="width: 45%;display: inline-block;margin-bottom: 10px;">
                        <label class="sr-only" for="FullName">FullName</label>
                        <input type="text" id="FullName" name="FullName" class="form-control mr-md-1" placeholder="Ad Soyad">
                    </div>
                    <div style="width: 45%;display: inline-block;margin-bottom: 10px;float:right;">
                        <label class="sr-only" for="mail">Mail</label>
                        <input type="email" id="mail" name="mail" class="form-control mr-md-1" placeholder="Mail">
                    </div>
                    <textarea class="form-control" id="Content" name="Content" rows="2" placeholder="Yorum Yap.."></textarea>
                    <div class="" style="text-align: right;margin-top: 10px;">
                        <button type="button" class="btn btn-primary" onclick="SendComment()">Gönder</button>
                    </div>
                </div>
            </form>
        </div>

        <nav class="blog-nav nav nav-justified my-5">
            <a class="nav-link-prev nav-item nav-link @((bool) ViewBag.FirstArticle == true ? "d-none" : "") rounded-left" asp-area="" asp-controller="Home" asp-action="Article" asp-route-articleId="@((int)ViewBag.PrevArticle)">Önceki Makale<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
            <a class="nav-link-next nav-item nav-link @((bool) ViewBag.LastArticle == true ? "d-none" : "") rounded-right" asp-area="" asp-controller="Home" asp-action="Article" asp-route-articleId="@((int)ViewBag.NextArticle)">Sonraki Makale<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
        </nav>

    </div>
</article>


<script>
    const quill = new Quill('#editor', {
        readOnly: true,
        modules: {
            syntax: true,
            toolbar: "#quillToolbar"
        },
        theme: 'snow'
    });

    let toolbarLoaded = false;
    quill.on('editor-change', (event) => {
        if (!toolbarLoaded) {
            toolbarLoaded = true;
        }
    });

    const highlightedCode = hljs.highlight(
        '',
        { language: 'csharp' }
    ).value

    let contentJson = @Json.Serialize(Model.Content);
    quill.setContents(JSON.parse(contentJson));

    function SendComment() {
        var data = $("#commentForm").serialize();
        $.ajax({
            type: "POST",
            url: "/Home/SaveComment",
            data: data,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                var msg = "";
                if (result.Result == @((int)Result.Success)) {
                    ClearForm();
                    msg = result.Message + " Yorumunuz onaylandıktan sonra yayınlanacaktır";
                }
                else{
                    msg = result.Message;
                }
                alert(msg);
            },
            failure: function (response) {
                alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
    }

    function ClearForm() {
        $("#commentForm input").val('');
        $("#Content").val('');
    }
</script>
