@model List<Business.DTOs.ArticleDto>

@{
    ViewData["Title"] = "Anasayfa";
}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        $(".nav-item").removeClass("active");
        $("#homeLi").addClass("active");
    });

    function NextPageClick(){
        $('#page').val(parseInt($('#page').val()) + 1);
        $('#listForm').submit();
    }

    function PrevPageClick() {
        $('#page').val(parseInt($('#page').val()) - 1);
        if ($('#page').val() < 1) //ilk sayfada ise geri gidememeli
            return;
        $('#listForm').submit();
    }

    function Subs(){
        $.ajax({
            type: "POST",
            url: "/Home/SaveSubscriber",
            data: { subMail: $("#subMail").val() },
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                $("#subMail").val('');
                alert(result.Message);
            },
            failure: function (response) {
                alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
    }
</script>

@* Arama *@
<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">Blog Akan'a Hoşgeldiniz</h2>
        <div class="intro">Aramak istediğiniz makaleyi bir kaç kelime ile giriniz</div>
        <form class="signup-form form-inline justify-content-center pt-3">
            <div class="form-group">
                <label class="sr-only" for="search">Ara</label>
                <input type="text" id="search" name="search" class="form-control mr-md-1" placeholder="Aranacak kelimeyi giriniz">
            </div>
            <button type="submit" class="btn btn-primary">Ara</button>
        </form>
    </div>
</section>


@* Makaleler *@

<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        <form id="listForm" action="@Url.Action("Index", "Home")" method="post">
            @Html.Hidden("page", (int)ViewBag.Page)
            @{
                foreach (var item in Model)
                {
                        <div class="item mb-5">
                            <div class="media">
                                <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="~/img/sample_thumb_@(item.PhotoIndex).jpg" alt="image">
                                <div class="media-body">
                                <h3 class="title mb-1"><a asp-area="" asp-controller="Home" asp-action="Article" asp-route-articleId="@item.Id">@item.Title</a></h3>
                                    <div class="meta mb-1">
                                        <span class="date">@item.PublishDate.ToShortDateString() tarihinde yayınlandı</span>
                                        <span class="time">@item.ReadMinute dakikalık okuma</span>
                                        <span class="comment"><a href="#">@item.CommentCounts yorum</a></span>
                                    </div>
                                    <div class="intro introContent">@item.IntroContent</div>
                                <a class="more-link" asp-area="" asp-controller="Home" asp-action="Article" asp-route-articleId="@item.Id">Daha fazla göster</a>
                                </div><!--//media-body-->
                            </div><!--//media-->
                        </div>

                        <!--//item-->
                }
            }
      
            <nav class="blog-nav nav nav-justified my-5">
                <a class="nav-link-prev nav-item nav-link @((bool) ViewBag.FirstPage == true ? "d-none" : "") rounded-left" href="javascript: PrevPageClick()">Önceki Sayfa<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                <a class="nav-link-next nav-item nav-link @((bool) ViewBag.LastPage == true ? "d-none" : "") rounded-right" href="javascript: NextPageClick()">Sonraki Sayfa<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
            </nav>
        </form>
    </div>
</section>

@* Abone Ol *@

<section class="cta-section theme-bg-light py-5" style="margin-bottom:50px;">
    <div class="container text-center">
        <h2 class="heading">Blog Akan bir developer blogdur.</h2>
        <div class="intro">Hoşgeldiniz, mail adresinizi girerek güncel makalalelerden haberdar olabilirsiniz!</div>
        <form class="signup-form form-inline justify-content-center pt-3">
            <div class="form-group">
                <label class="sr-only" for="subMail">Mail</label>
                <input type="email" id="subMail" name="subMail" class="form-control mr-md-1 semail" placeholder="Mailinizi giriniz">
            </div>
            <button type="button" class="btn btn-primary" onclick="Subs()">Abone Ol</button>
        </form>
    </div>
</section>



