@model List<Elasticsearch.Models.ES_Article>
@{
    ViewData["Title"] = "Arama Sonucu";
}

<script>
    function NextPageClick() {
        $('#page').val(parseInt($('#page').val()) + 1);
        $('#listForm').submit();
    }

    function PrevPageClick() {
        $('#page').val(parseInt($('#page').val()) - 1);
        if ($('#page').val() < 1) //ilk sayfada ise geri gidememeli
            return;
        $('#listForm').submit();
    }
</script>

@* Arama *@
<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">Elasticsearch</h2>
        <div class="intro">Aramak istediğiniz makaleyi bir kaç kelime ile giriniz</div>
        <form id="listForm" class="signup-form form-inline justify-content-center pt-3" action="@Url.Action("Index", "Search")" method="post">
            @Html.Hidden("page", (int)ViewBag.Page)
            <div class="form-group">
                <label class="sr-only" for="searchText">Ara</label>
                <input type="text" id="searchText" name="searchText" class="form-control mr-md-1" placeholder="Aranacak kelimeyi giriniz" value="@ViewBag.SearchText">
            </div>
            <button type="submit" class="btn btn-primary">Ara</button>
        </form>
    </div>
</section>

@* Makaleler *@

<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        <form >
          
            @{
                foreach (var item in Model)
                {
                    <div class="item mb-5">
                        <div class="media">
                            <div class="media-body">
                                <h3 class="title mb-1"><a asp-area="" asp-controller="Home" asp-action="Article" asp-route-articleId="@item.Id">@item.Title</a></h3>

                                <div class="intro introContent">@item.Content</div>
                                <a class="more-link" asp-area="" asp-controller="Home" asp-action="Article" asp-route-articleId="@item.Id">Daha fazla göster</a>
                            </div><!--//media-body-->
                        </div><!--//media-->
                    </div>

                    <!--//item-->
                }
            }

            <nav class="blog-nav nav nav-justified my-5">
                <a class="nav-link-prev nav-item nav-link @((bool) ViewBag.FirstPage == true ? "d-none" : "") rounded-left" href="javascript: PrevPageClick()">Önceki Sayfa<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                <a class="nav-link-next nav-item nav-link @((bool) ViewBag.LastPage == true ? "d-none" : "") rounded-right" href="javascript: NextPageClick()">Sonraki Sayfa<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
            </nav>
        </form>
    </div>
</section>

<style>
    .media-body {
        max-width: 700px !important;
        padding-left: 110px !important;
    }
</style>